<head th:fragment="head(title, extraCss)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title}">Default</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:if="${extraCss}">
        <th:block th:each="css : ${extraCss}">
            <link rel="stylesheet" th:href="@{${css}}">
        </th:block>
    </th:block>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
</head>