:root{
    --grad-blue-light: #69e2d7;
    --grad-blue-dark: #1778c1;
    --grad-orange-light: #fead7b;
    --grad-orange-dark: #fa667b;
}

body{
    background-color: #202020;
}
.btn-auth{
    background-color: var(--grad-orange-dark);
    color: var(--bs-light);
    border: none;
    border-radius: 12px;
}
.btn-auth:hover{
    background-color: #D65A6C;
    color: var(--bs-light);
    border: none;
    border-radius: 12px;
}
@media (max-width: 380px) {
  .btn-signup {
    display: none;
  }
}
footer {
    background-color: #111111;
    color: #757779;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}
.footer-link {
  text-decoration: none;
  color: #6e7377;
}
 .spacer1 {
    flex-grow: 1;
 }
 .spacer2 {
    flex-grow: 2;
 }
.hero-badge{
    color: var(--bs-light);
    display: inline-block;
    padding: 0.45rem 0.8rem;
    border-radius: 999px;
    background-color: gray;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.hero-card {
   width: 100%;
    max-width: 860px;
    border: 0;
    border-radius: 28px;
    background: #121212;
    /* backdrop-filter: blur(8px); */
    box-shadow: 0 18px 60px rgba(33, 37, 41, 0.08);
}
.hero-title {
    color: whitesmoke;
    font-size: clamp(2rem, 5vw, 3.6rem);
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -0.03em;
    margin-bottom: 1rem;
}

.hero-text {
    font-size: 1.05rem;
    color: whitesmoke;
    max-width: 580px;
    margin: 0 auto 1.75rem;
}
.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
}

.feature-pill {
    padding: 0.7rem 1rem;
    border-radius: 999px;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    font-size: 0.95rem;
    color: #495057;
}